/**
 CSS styles for radreport.org forms
 */

#session-info-table {
    width: 100%;
}

#session-info-table th {
    width: 140px;
}

#session-info-table th,
#session-info-table td {
    padding: 0;
    text-align: left;
}

.clearfix .pull-left {
    float: left;
    text-align: left;
}

.clearfix .pull-right {
    float: right;
    text-align: right;
}
