/**
 CSS styles for radreport.org forms
 */

#form-template-wrapper {
    /* [*L*] */
    font-size: 0.9rem;
}

#form-template-wrapper section.level2 {
    margin-bottom: 30px;
    padding: 0 10px;
}

#form-template-wrapper section.level2 header {
    font-weight: bold;
    margin: 10px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid #303030;
}

#form-template-wrapper section.level2 p {
    padding: 0 10px;
}

#form-template-wrapper section[data-section-name] {
    margin-bottom: 20px;
    padding: 6px 10px;
    border: 1px solid #303030;
    border-radius: 4px;
}

#form-template-wrapper section[data-section-name] label {
    display: block;
}

#form-template-wrapper section[data-section-name] > header:first-of-type {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.0rem;
    border-bottom: 1px solid #505050;
}

#form-template-wrapper section[data-section-name] select {
    min-width: 50%;
    max-width: 100%;
}

#form-template-wrapper section[data-section-name] textarea,
#form-template-wrapper section[data-section-name] input[type="text"] {
    width: 100%;
}

#form-template-wrapper section[data-section-name] input[type="checkbox"],
#form-template-wrapper section[data-section-name] input[type="radio"] {
    margin-right: 6px;
}
